:root {
  --font-family: 'Inter', sans-serif;

  // COLORS
  --white: #ffffff;
  --text-black: #0c0c0d;
  --text-gray: #858585;
  --light-green: #46a175;
  --green: #10b145;
  --red: #f3223c;
  --orange: #ff8c22;
  --yellow: #ffcb20;
}
